@import "../etc/mixin";
@import '../etc/reset';
@import '../var/frame';

html {
  min-height: 600px;
  height: 100%;
}
body {
  font: $font;
  color: $text-color;
  min-height: 100%;
  position: relative;
}
.clearfix:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  overflow: hidden;
  clear: both;
}
.clearfix {
  *zoom: 1;

  &:after, &:before {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.icon-white{
  color:#f00;
}
